@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Ruda&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: #f0f0f0; /* Cor de fundo */
}

.contatos {
  display: flex;
  flex-direction: column;
  width: 20%;
  height: 100vh;
  padding: 20px;
  gap: 20px;
  background-color: #f5bb00;
  position: relative;
}
.contato1{
  cursor: pointer;
}
.contato1 span {
  position: absolute;
  height: 2px;
  width: 100px;
  background-color: #000000;
}

.section_chat {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat_header {
  display: flex;
  align-items: center;
  width: 83%;
  height: 6vh;
  background-color: #f5bb00;
  position: fixed;
}

.chat_header nav {
  display: flex;
  gap: 10px;
  position: relative;
  left: 10px;
}

.info__user {
  display: flex;
  align-items: center;
  gap: 5px;
}

.user_foto {
  display: block;
  width: 30px;
  height: 30px;
  background-color: black;
  border-radius: 50%;
}

.chat_area {
  width: 100%;
  height: calc(100vh - 6vh); /* Ajusta a altura da área do chat */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Faz as mensagens começarem na parte inferior */
  align-items: center;
  margin-top: 5vh; /* Para deixar espaço para o cabeçalho */
}

.messagesDiv {
  width: 100%;
  overflow-y: auto;
  padding: 20px;
  margin-bottom: 80px; /* Adicione uma margem inferior suficientemente grande para acomodar várias mensagens */
}

.input_field {
  width: 83%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #f5bb00;
  height: 8vh;
  position: fixed;
  bottom: 0;
}

.input_field input {
  background-color: #574a1e;
  outline: none;
  padding-left: 10px;
  height: 4vh;
  color: white;
  border-radius: 4px;
  width: 80%;
}

.input_field input::placeholder {
  color: #d8d8d8;
}

button {
  padding: 14px 14px;
  border-radius: 4px;
  background: #574a1e;
  cursor: pointer;
}

/* Chat */
.mensagem {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 10px; /* Espaçamento entre as mensagens */
}

.messages {
  width: 50%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  background-color: #ffe281;
  border-radius: 8px;
  padding: 20px;
}

.infoMessages {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 70%;
}

.boxMesseges {
  width: 70%;
  word-break: break-all;
}

@media screen and (max-width: 320px) {
  .messagesDiv {
    padding: 10px;
  }
  .messages {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .messages {
    width: 70%;
  }
}

@media screen and (min-width: 1024px) {
  .user_message {
    font-size: 20px;
  }

  .messages_time {
    font-size: 16px;
  }
}
